<!DOCTYPE html>

  <%-include('../partials/head');%>

  <body class="container ">

    <%-include('../partials/header');%>
    <main>

      <div class="jumbotron bg-secondary">
        <h1>Node com EJS</h1>
        <p>Vamos aprender a trabalhar com arquivos EJS</p>
        <p><%= subtitle %></p>
      </div>
      <ul>
        <% benefits.map(benefit => {%>
        <li>
          <strong><%= benefit.title %></strong> <%= benefit.message %> 
        </li>
        <%})%>
      </ul>
    </main>

    <%-include('../partials/footer');%>

  </body>
</html>
